parameters:
    level: 8
    paths:
        - app
        - tests
    excludePaths:
        - vendor/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Call to an undefined method#'
        - '#Access to an undefined property#'
    tmpDir: storage/framework/cache/phpstan
    parallel:
        maximumNumberOfProcesses: 4
    dynamicConstantNames:
        - APP_ENV
        - APP_DEBUG
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false 